
        <div class="container login" >
           
            <div id="">
                <div>
                    <img src="../../assets/img/jarvis.gif" alt="Jarvis" style="width: 82px;"/>
                   
                <h1>Hello, <br>I am IMJarvis.</h1>
                <p>Please login with your system credentials to talk to me</p>              
                <div class="clearfix"> </div>
                
                 <div class="">
                     <form class="form-login" #f="ngForm">
                       <div class="form-field">
                         <label for ="username" class="font-samll labelColor">Username</label>
                         <input type="text"  class="font-medium"  id="username" required [(ngModel)]="usernameValue" name="usernameValue" (focus)="error = false">
                     </div>
                    <div class="form-field">
                        <label for ="password" class="font-samll labelColor labelColor" >Password</label>
                        <input type="password" class="font-medium" id="password" required [(ngModel)]="passwordValue" name="passwordValue" (focus)="error = false">
 
                    </div>
                     <span class="pull-left" style="color:red" *ngIf="error">Invalid Credentials </span>
 
              <div class="buttonDiv">
                <button class="btn btn-lg btn-primary"  [ngClass]="{'disabled' : !f.form.valid}" type="submit" (click)="login()" [disabled]="!f.form.valid" >
                    <span *ngIf="!loading">Login</span>
                <div class="lds-ellipsis" *ngIf="loading"><div></div><div></div><div></div><div></div></div>
                </button>
              </div>
            </form><!-- /form -->
        </div>
            </div>
            <!--Text Field-->
          <div class="font-exsamll textAlign" style="position:absolute; bottom:10px;width:100%">copyright @ingrammicro 2018. All rights Reserved</div> 
        </div>