<div class="container">
  <div class="message from" >
    Hi, Please Login To Continue
  </div>
  <form>
    <div class="form-group">
      <label for="title">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="usernameValue" name="usernameValue">
    </div>
    <div class="form-group">
      <label for="author">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="passwordValue" name="passwordValue">
    </div>
    <span class="pull-left text-danger" *ngIf="error">Invalid Credentials </span>
    <button type="submit" class="btn btn-primary pull-right" (click)="login()">Submit</button>
   </form>
 </div>