
*{
    margin: 0;
    padding: 0;
}

a,a:hover {
    color: #1F8CEB
}

.allZero{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style-type: none;
}

div#chatHeader{
    position: relative;
    z-index: 9999999;
    overflow: hidden;
}

div#chatHeader .countryName {
   padding: 5px;
   float:left;
   font-size: 11px;
   background: #eeeeee;
   
}

div#chatHeader a.restart .fa{
    font-size: 18px;
    margin:0;
    padding: 7px 6px;
    cursor: pointer;
    opacity: 1;
    color: #1C81E8;
    float: right;
}

.container,body {
    overflow: hidden;
}

#chatBoxMainContainer button.option,body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chatDetails,body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.font-exsamll{
    font-size: 10px;
}

.font-samll{
    font-size: 12px;
}

.font-medium{
    font-size: 14px;
}
.labelColor{
   color:#b8b8b8;
}

.textAlign{
    text-align: center;
}



body,html {
    margin: 0;
    padding: 0;
    height: 100%;
   
}

body {
    margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.close,.powered-by a:hover {
    text-decoration: none
}
.boxshadow{
    -webkit-box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
    box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
}

.container {
    margin: auto;
    color: #3c3c3c;
    z-index: 50000;
    background: url('../../assets/img/testbg1.png');
    font-size: 14px;
    border-radius: 8px;
    height: 100%;
    position: relative;
    padding: 0 !important;
}


textarea:focus, input:focus,button:focus{
    outline: none;
}
.login h1{   
     font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 34px;
     font-weight: 600;
     color:#515151;
     padding: 5px 15px;
}

.login .form-login{
    padding:5px 15px;
    margin-top: 25px;
}
.login .form-login label,
.login .form-login input{
    display: block;
}

.login .form-login .buttonDiv{
    text-align: center;
    margin-top: 50px;
}

.login .form-login input{
    border: none;
    border-bottom: 1px solid #3e5bd6;
    background: none;
    margin-top:5px;
    padding:5px;
    width: 100%;

}

.login button
{
    color:#ffffff;
    background: #3e5bd6;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
}



.login .form-login .form-field{
    margin-bottom: 20px;
}


.container.login p{
    font-size: 12px;
    color:#515151;
    padding: 5px 15px;
    
}

#chatBoxMainContainer {
    overflow: auto;
    overflow-y: scroll;
    height: calc(100vh - 120px);
    padding: 10px 20px 30px;
    position: relative
}

.chat-background {
    position: absolute;
    width: calc(100vw - 2px);
    height: 100vh;
    background: url(/chat_images/bg.png);
    background-size: cover;
    box-sizing: border-box;
    opacity: .8;
}

.chat-background object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.chat-background.blur {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px)
}

.chatBoxMainContainerAd {
    height: calc(100vh - 20px)!important;
    padding-top: 0;
    padding-bottom: 0
}

.chatBoxMainContainerAd::-webkit-scrollbar {
    display: none
}

#chatBoxMainContainer button.option {
    padding: 8px 12px;
    border: 1px solid #1F8CEB;
    border-radius: 20px;
    color: #1F8CEB;
    margin: 5px 8px 0 0;
    cursor: pointer;
    background: #FFF;
    font-size: 14px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis
}

#chatBoxMainContainer button.option:disabled {
    border: 1px solid #ccc;
    color: #ccc
}

#chatBoxMainContainer button.option:hover {
    background-color: #fafafa
}

#chatBoxMainContainer button.option.primary {
    background-color: #36ba85;
    border-color: #36ba85;
    color: #fff
}

#chatBoxMainContainer button.option.primary:hover {
    background: #3ed699;
    color: #fff;
    border-color: #3ed699
}

#chatBoxMainContainer #chatOptions.hide {
    display: none
}

#chatDetails .sub-title,#chatDetails .title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#chatBoxMainContainer.message-icons {
    padding: 10px 10px 30px
}

#chatBoxMainContainer.message-icons.live-chat {
    padding: 10px 20px 30px 0
}

#chatDetails {
    border-radius: 8px 8px 0 0;
    height: 45px;
    overflow: hidden;
    padding: 15px 20px;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    background: #1F8CEB;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 999999;
    position: relative;
    cursor: pointer
}

#chatDetails .sub-title {
    color: hsla(0,0%,100%,.8);
    font-size: 13px;
    margin-top: 5px
}

#chatDetails .icon-bg {
    position: absolute;
    width: 100%;
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .05;
    display: none
}

#chatDetails.full .icon-bg {
    display: block
}

#chatDetails img {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    margin: 0 15px 0 0;
    object-fit: cover;
    float: left
}

#chatDetails img.secondary {
    width: auto!important;
    height: 60px!important;
    border-radius: 0!important;
    top: 10px;
    right: 0;
    position: absolute
}

#chatDetails.full img.secondary {
    display: inline-block!important;
    position: relative
}



#chatDetails.full img {
    float: none;
    width: 50px;
    height: 50px;
    margin: 0 0 10px;
    border-radius: 25px;
    display: inline-block!important
}

.chat {
    padding: 10px;
    border-radius: 10px;
    background: #e6ebef;
    color: #606273;
    min-width: 50px;
    margin: 8px 0;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #dadde0
}



.product {
    width: 150px;
    display: inline-block;
    margin: 0 6px 10px 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #aaa!important;
    -moz-box-shadow: 0 0 3px #aaa!important;
    box-shadow: 0 0 3px #aaa!important;
    position: relative
}

.from-me-image,.welcome-message {
    margin-bottom: 10px
}

.chat-left {
    float: left;
    margin-right: 40px;
    border-radius: 8px 8px 8px 0
}

.chat-left>div,.chat-left>img {
    float: left
}

.chat-right {
    float: right;
    background: #1F8CEB;
    color: #fff;
    margin-left: 30px;
    border-radius: 8px 8px 0;
    border: 1px solid #4f85b9
}

.from-me div,.from-them div {
    position: relative;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale
}

.chat-right>div,.chat-right>img {
    float: right
}

.clear,.clearfix {
    clear: both
}

.from-me-image {
    position: relative;
    width: 200px;
    background: #ffffff;
    border-radius: 10px;
    float: right;
    margin-left: 20px;
    text-align: center
}

.from-me-image img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover
}

.from-me-image img.image-uploading {
    width: 50px;
    height: 50px;
    margin: 75px
}

.from-me div {
    padding: 12px;
    color: #000000;
    background: #fcfcfc;
    border-color: #fcfcfc;
    border-radius: 8px 5px 5px 8px;
    float: right;
    font-weight: 400;
    margin-bottom: 2px;
    text-align: right;
    margin-left: 20px;
    line-height: 1.4;
    min-width: 20px;
    -webkit-font-smoothing: antialiased;   
}

.from-me.first div {
    border-top-right-radius: 8px!important
}

.from-me.new div {
    margin-bottom: 15px;
    border-bottom-right-radius: 0!important
}

.from-them div span.title {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
    color: #888
}

.from-them div {
    padding: 15px;
    background: #2595fe;
    border-radius: 5px 8px 8px 5px;
    color: #ffffff;
    border-color: #2595fe;
    float: left;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: left;
    margin-right: 20px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

.from-them div a {
    word-break: break-all
}

.from-them.first div {
    border-top-left-radius: 8px!important;
}

.from-them.first div.card {
    padding: 0;
    margin: 0;
    background: #ffffff;
    text-align: center;
    width:250px;
    border:1px solid #c8c8c8;
}
.from-them.first div.card ul.optionList{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    padding: 0;
    clear: both;
}
.from-them.first div.card ul.optionList li{
     border-bottom: 1px solid #c8c8c8;
}

.from-them.first div.card ul.optionList li:last-child{
    border-bottom: none!important;
}
   

.from-them.first div.card ul.optionList li a{
    padding: 8px;
    color:#5c5c5c!important;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
} 

.from-them.first div.card ul.optionList li a:hover{
    color: #1F8CEB!important;
}

.from-them.first div.card div.countrySelection{
    margin: 0;
    border-bottom-right-radius:0!important;
    text-align: center;
}

.from-them.first div.card div.countrySelection h2{
    margin: 0;
    padding: 0;
    font-size: 15px;
     line-height: 1.5;
     font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.from-them.except div,.from-them.new div {
    margin-bottom: 15px;
    border-bottom-left-radius: 0!important
}

.from-them a,.from-them a:hover {
    color: #1F8CEB!important
}

.from-me a,.from-me a:hover {
    color: #fff!important
}

.from-them-name div {
    color: #888;
    font-size: 13px;
    float: left;
    padding-left: 10px;
    margin-top: -5px;
    font-weight: 700
}

.close,.from-me-name div {
    float: right;
    font-weight: 700
}

.from-me-name div {
    color: #888;
    font-size: 14px;
    padding-right: 10px;
    margin-top: -5px
}

.panel-title {
    overflow: hidden
}

#ymChatForm button {
    width: 8%;
    padding: 5px;
    line-height: 1.8;
    vertical-align: bottom;
    -webkit-appearance: none;
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none
}

.connecting,.emojione,.single-message {
    vertical-align: middle
}

#ymChatForm button:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d
}

#ymChatForm button:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047
}

.close {
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 10px;
    display: inline-block;
    line-height: 0;
    padding: 9px 7px 11px
}

.close:before {
    content: 'x'
}

.send-input input[type=email],.send-input input[type=number],.send-input input[type=text] {
    border: none;
    padding: 18px 100px 18px 18px;
    outline: 0;
    border-radius: 0 0 8px 8px;
    font-size: 14px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #565867;
    width: 100%;
    position: absolute;
    background: #ffffff;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    box-shadow: 0 0 3px 1px #aeaeae;
}

.send-input {
    position: absolute;
    z-index: 999999;
    border-radius: 0 0 8px 8px;
    display: block;
    left: 0;
    height: 54px;
    right: 0;
    bottom: 0
}

.send-input input[type=email]:focus,.send-input input[type=number]:focus,.send-input input[type=text]:focus {
    border: none;
    outline: 0!important;
    background: #fff;
   
}

.welcome-message.hide {
    /* display:none */
}

.welcome-message div {
    position: relative;
    padding: 15px;
    background: #eaf2f7;
    border-radius: 10px;
    color: #485256;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-right: 20px;
    line-height: 1.4;
    display: inline-block
}

.single-message,.single-message .floating-input input[type=email],.single-message .floating-input input[type=number],.single-message .floating-input input[type=text] {
    text-align: center
}

.welcome-message-ad {
    margin-top: 10px
}

.floating-input-support {
    display: none;
    height: 100px
}

.floating-input {
    height: 50px;
    position: fixed;
    bottom: 8px;
    border-radius: 15px;
    right: 0;
    left: 0;
    padding-right: 0
}


ul {
    margin-left: 0;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0
}



@media screen and (max-device-width: 768px) {
    .slick-initialized .slick-slide {
        width:auto
    }

    #chatBoxMainContainer {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0,0,0)
    }

    #chatDetails,.container {
        border-radius: 0!important;
        width: 100vw
    }

    #chatDetails .close-button {
        right: 30px!important
    }

    #chatDetails .back {
        display: inline-block;
        float: left;
        margin: 12px 8px 0 0
    }

    #chatDetails {
        height: 35px;
        padding: 10px
    }

    #chatDetails.full img {
        margin-left: -35px
    }

    #chatBoxMainContainer button.option {
        font-size: 14px
    }

    #chatDetails .back img {
        width: 15px;
        height: 15px;
        border-radius: 0;
        margin: -14px 0 0 -15px;
        cursor: pointer;
        padding: 15px
    }

    .from-me div,.from-them div {
        padding: 12px;
        font-size: 14px
    }

    .floating-input,.single-message .floating-input,.start .floating-input {
        width: calc(100% - 20px)!important
    }

    .single-message.message-icons .from-them {
        max-width: calc(100vw - 100px)
    }

    .single-message,.single-message .floating-input input[type=email],.single-message .floating-input input[type=number],.single-message .floating-input input[type=text] {
        text-align: left
    }

    .send-input input[type=email],.send-input input[type=number],.send-input input[type=text] {
        color: #444;
        font-size: 16px
    }

    .send-input {
        position: fixed
    }
}

@media screen and (min-device-width: 640px) and (max-device-width:768px) {
    .from-me div,.from-them div {
        padding:12px!important
    }
}

.home.hide {
    display: none
}

.emojione,.home {
    display: inline-block
}

.home:hover {
    opacity: 1
}

.home {
    width: 25px;
    height: 40px;
    background-image: url(/chat_images/home.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
    opacity: .8
}

.connecting {
    background: #fff;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    color: #999;
    line-height: 100vh;
    border-radius: 8px;
    text-align: center
}

.language-menu {
    position: absolute;
    bottom: 45px;
    right: 58px;
    background: #fff;
    z-index: 999999;
    border: 1px solid #eee
}

.language-menu li {
    list-style: none;
    padding: 5px 10px 5px 0;
    cursor: pointer;
    color: #888
}

.language-menu li:hover {
    color: #555
}

#typing {
    background: #fff;
    box-shadow: 0 0 3px #ccc!important;
    border-radius: 10px 10px 10px 0;
    padding: 10px
}

.start #typing {
    float: left
}



.message-icons .slick-prev {
    left: 29px!important
}



#chatDetails.square img {
    border-radius: 0
}


img.loading {
    width: 35px;
    height: 35px
}

img.file-icon {
    padding: 10px;
    width: 35px;
    height: auto;
    cursor: pointer
}

.thumbs-down,.thumbs-up {
    display: none
}

.chat-message {
    position: relative;
}

.chat-message.new.last .thumbs-down,.chat-message.new.last .thumbs-up {
    display: inline-block;
    margin: 0;
    position: absolute;
    padding: 5px;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    cursor: pointer
}

.input-actions i.hide,.powered-by.hide {
    display: none
}

.chat-message.from-them.new.last div {
    margin-right: 75px
}




.input-actions {
    position: absolute;
    right: 10px;
    top: 0;
    overflow: hidden
}

.input-actions i.fa-microphone.enabled {
    background-color: #e63f52!important;
    color: #fff;
    border-radius: 27px;
    padding: 7px 10px
}

.input-actions i {
    font-size: 18px;
    margin: 10px 0;
    padding: 7px 6px;
    cursor: pointer;
    opacity: .6;
    color: #1C81E8
}

.input-actions i:hover {
    opacity: 1
}


.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}




@charset 'UTF-8';.slick-dots,.slick-next,.slick-prev {
    position: absolute;
    display: block;
    padding: 0
}

.message {
    position: relative;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
}

.message.from {
    padding: 8px;
    background: #ebebeb;
    border-radius: 5px 8px 8px 5px;
    color: #000000;
    border-color: #ebebeb;
    float: left;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    margin-right: 20px;
    line-height: 1.5;
    box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
    -webkit-font-smoothing: antialiased;
}

.message.to {
    padding: 8px;
    color: #ffffff;
    background: #2595fe;
    border-color: #2595fe;
    border-radius: 8px 5px 5px 8px;
    float: right;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 20px;
    line-height: 1.4;
    min-width: 20px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
}

.options {
    padding: 2px 6px;
    border: 1px solid #1F8CEB;
    border-radius: 20px;
    color: #1F8CEB;
    margin: 5px 8px 0 0;
    cursor: pointer;
    background: #FFF;
    font-size: 14px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.options:hover{
    background-color: #fafafa;
}
.optionsGroup{
    
    clear: both;
    width: auto;
    display: block;
    overflow: hidden;
}

.message.from:after,
.message.to:after {
    position: absolute;
    width: 10px;
    height: 45px;
    bottom: 0;
    
}

.message.from:after {
    background: #ebebeb;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);   
}
.message.to:after{
    background: #2595fe;
    right: -4px;
   clip-path: polygon(0 70%, 0% 100%, 100% 100%);  
}


:after{
    content: "";
    display: table;
    box-sizing: border-box;
}

.dropdown-menu{
    width: 520px;
    border: 2px solid #cccccc;
    padding: 0;
}

.dropdown-menu,
.dropdown-menu li,
.dropdown-menu li span,
.dropdown-menu li strong
 {
    display: inline-flex;
}

.dropdown-menu li{
    padding: 10px;
    width: 500px;
    border-top:2px solid #ffffff;
    
}

.dropdown-menu li:hover{
    background: #2595fe;
    color:#ffffff;
}

.dropdown-menu li:hover a{
  color:#ffffff;
}

/*Cards*/

.card{
    border: 1px solid #bebdbd;
    background: #ffffff;
    width: 350px;
}

.cardHeader{
    background: #ebebeb;
   color:#3d3d3d;
   padding: 3PX;
  
}
.cardHeader h2{
    font-size: 16px;
    margin-bottom: 5px;
}
.cardHeader p,.cardHeader span{
    font-size: 14px;
}

.cardBody{
    overflow: hidden;
}
.cardBody,
.cardBody span
{
    color:#154bad;
    font-size: 16px;
    padding: 3px;
      
}
.cardBody span{
    font-weight: bold;
}

.cardBody .link {
    
    float: right;
    font-size: 14px;
    font-weight: normal;
}

.cardBody span.pipe{
    color:#3d3d3d;
}

.cardBody span.rejected{
    color:#ff4f19;
}

.floatLeft{
    float: left;
}

.rmaDetails,.productDetails,.orderDetails{
    margin-bottom: 10px;
    }
.slick-slide .card{
    width:auto;
    margin:5px;
}


.slick-slider .cardBody span{
    font-size:14px;
    color:black;
    display:block;
    border-bottom: 1px solid #f6f7f8;

}

.slick-slider .fa-chevron-circle-right{
    
    position: absolute;
    right: -18px;
    top: 50px;
}

.slick-slider .fa-chevron-circle-left{
    position: absolute;
    top: 50px;
    left: -13px;
}


button.disabled{
      cursor: not-allowed !important;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.buttonDiv .btn{
    cursor: pointer;
}


order-details .slick-slider .fa-chevron-circle-right,order-details .slick-slider .fa-chevron-circle-left{
    top:38px;
}

.sendButton{
    z-index: 1000;
    right: 10px;
    top: 3px;
    cursor: pointer;
    position: absolute;
}

iframe body{
    
    background: transparent;
}


