<div class="container">
 
  <div id="chatHeader" class="">
             <span class="countryName" *ngIf='countryName'> Reseller Country :{{countryName}}</span>   
            <a href="javascript:void(0)" class="restart" (click)="reset()" *ngIf='countryName'><i class="fa fa-repeat"></i></a>
            </div>
  <div id="chatBoxMainContainer" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    
<div class="message from" *ngIf="welcomeIntent">
  Hi {{username}}, enter the customers country name
  </div> 
  <div class="clearfix"> </div>
<div class="message from" *ngIf="isReset">
  Do you want to continue with Reseller Id {{customerNumber}} and country {{countryName}}
  </div>
  <div class="optionsGroup" *ngIf="isReset">
     <button  class="options" *ngFor="let option of resetOptions" (click)="optionResetSend(option)">
       {{option}}
       </button>
       </div>
<ng-container *ngFor="let message of messages | async" >
  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }" *ngIf="message.error != 'error' && (!(message.intent=='EnterSkuIntent' && message.sentBy==='bot') && !(message.intent=='Reset-EnterSkuIntent' && message.sentBy==='bot') && !(message.intent=='Reset Continue' && message.sentBy==='user') && !(message.intent=='OrderNumberIntent' && message.sentBy==='bot') && !(message.intent=='Reset-OrderNumberIntent' && message.sentBy==='bot') && !(message.intent=='RMANumberIntent' && message.sentBy==='bot') && !(message.intent=='Reset-RMANumberIntent' && message.sentBy==='bot') && !(message.intent=='ResetResellerCountry' && message.sentBy==='bot') && !(message.intent=='Default Welcome Intent' && (message.sentBy==='bot' || message.sentBy==='user')))">
    {{ message.content }}
  </div>

  <div class="message from"  *ngIf="message.error == 'error'">
    {{ message.content }}
  </div>

  <product-details [product]="sku" [siteCode]="siteCode" [customer]="customerNumber" *ngIf="message.intent=='EnterSkuIntent' || message.intent=='Reset-EnterSkuIntent'">
    </product-details>

  <!--<div class="productDetails" *ngIf="message.intent=='PandA Service' && productDetails">
   <div class="card">
    <div class="cardHeader">
      <h2> {{description }}</h2>
      <p> VPN :  {{ vpn }} | SKU : {{sku}}</p>
    </div>
    <div class="cardBody">
      <span class="prize floatLeft"> Price : {{ price }} </span><span class="pipe floatLeft"> | </span> <span class="stock floatLeft">Stock : {{totalInstock}}</span>
    </div>
  </div>
  </div>-->
  
  <order-details [orderNumber]="orderNumber" [siteCode]="siteCode" [customer]="customerNumber" *ngIf="((message.intent=='OrderNumberIntent' || message.intent=='Reset-OrderNumberIntent') &&  message.error != 'error')">
    </order-details>
    
  <rma-details [rmaNumber]="rmaNumber" [siteCode]="siteCode" [customer]="customerNumber" *ngIf="((message.intent=='RMANumberIntent' || message.intent=='Reset-RMANumberIntent') &&  message.error != 'error')">
    </rma-details>
  <div class="clearfix"> </div>
  

</ng-container>
<div class="message from" *ngIf="afterReset">
Hi {{username}}, enter the customers country name
</div> 
<div class="clearfix"> </div>


<div class="optionsGroup">
    <button  class="options" *ngFor="let option of options" (click)="optionSend(option)">
      {{option}}
      </button>
  </div>

</div>
<div class="send-input">
<input *ngIf="!countryInput"[(ngModel)]="formValue" (keyup.enter)="sendMessage()"  class="form-control input-lg input auto-complete"  type="text" placeholder="Start your conversation">
<img src="../../assets/img/enter.png" alt="Enter" class="sendButton" (click)="sendMessage()"/>
<input *ngIf="countryInput" type="text"
[dropup] = true
       [(ngModel)]="formValue"
       [typeahead]="statesComplex"
       (typeaheadOnSelect)="sendMessage('country')"
       [typeaheadOptionsLimit]="7"
       typeaheadOptionField="name"
       typeaheadMinLength = "2"
       placeholder="Start typing country name"
       class="form-control input-lg input auto-complete"/>
</div>
</div>
