
  <div class="message from" *ngIf="loading">
<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
<div class="orderDetails" *ngIf="!isFailure && !loading">
     <div class="card">
        <div class="cardHeader">
          <h2>Order Number :  {{orderNumberRes}}</h2>
          <p>Order Date : {{orderDate }}</p>
        </div>
        <div class="cardBody">
          <span class="floatLeft">Status : {{orderStatus}} </span>
           <span class="link" *ngIf="totalLineItems"><a style="cursor:pointer" (click)="showLineItems = !showLineItems">View {{totalLineItems}} lineItems</a></span>
        </div>
     </div>  
  </div>
  
  <div class="message from" *ngIf="isFailure">
    {{failureMessage}}
  </div>
   <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" *ngIf='showLineItems'>
  <div ngxSlickItem *ngFor="let line of lineItems" class="slide">
    <div class="productDetails">
    <div class="card">
      <div class="cardBody">
      <span class="prize"> {{line.partdescription1}} </span><span class="stock">SKU : {{line.partnumber}} | VPN : {{line.manufacturerpartnumber}}</span><span class="stock">  Quantity : {{line.requestedquantity}}</span>
      </div>
    </div>
  </div>
  </div>
</ngx-slick>