
  <div class="message from" *ngIf="loading">
<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
<div class="productDetails" *ngIf="!isFailure && !loading">
   <div class="card">
    <div class="cardHeader">
      <h2> {{description }}</h2>
      <p> VPN :  {{ vpn }} | SKU : {{sku}}</p>
    </div>
    <div class="cardBody">
      <span class="prize floatLeft"> Price : {{ price }} </span><span class="pipe floatLeft"> | </span> <span class="stock floatLeft">Stock : {{totalInstock}}</span>
    </div>
  </div>
  </div>
  <div class="message from" *ngIf="isFailure">
    {{failureMessage}}
  </div>