  <div class="message from" *ngIf="loading">
<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
<div class="rmaDetails"  *ngIf="!isFailure && !loading">
     <div class="card">
        <div class="cardHeader">
          <h2>RMA Number :   {{rmaNumber}}</h2>        
        </div>
        <div class="cardBody">
          <span class="floatLeft">RMA Status :  {{rmaStatus}} </span>
          <span class="link" *ngIf="totalLineItems"><a style="cursor:pointer" (click)="showLineItems = !showLineItems">View {{totalLineItems}} lineItems</a></span>

        </div>
     </div>    
  </div>
  
  <div class="message from" *ngIf="isFailure">
    {{failureMessage}}
  </div>
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" *ngIf='showLineItems'>
  <div ngxSlickItem *ngFor="let line of lineItems" class="slide">
    <div class="productDetails">
   <div class="card">
    <div class="cardHeader">
      <p> SKU :  {{line.partnumber}} | Price : {{line.rmaprice}}</p>
    </div>
    <div class="cardBody">
      <span class="prize"> Invoice Number : {{line.invoicenumberrmaprice}} </span> <span class="stock">Order Quantity : {{line.orderquantity}}</span><span class="stock">Return Quantity : {{line.returnquantity}}</span>
    </div>
  </div>
  </div>
  </div>
</ngx-slick>