
        #botimgCircle {
    width: 60px;
    height: 60px;
    background: url(https://chat.botplatform.io/chat_images/chat.svg) center no-repeat #0B93F6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #999!important;
    cursor: pointer;
    bottom: 20px;
    border:5px solid #ffffff;
    background-size: 40px;
    -webkit-transition: background-image .3s ease-in-out;
    -moz-transition: background-image .3s ease-in-out;
    -o-transition: background-image .3s ease-in-out;
    transition: background-image .3s ease-in-out;
    position: fixed;
    right: 20px;
    }
    #ymDivCircle img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff; 
    padding: 0;
}

#ifrmaeHolder{
    position: fixed;
    right: 20px;
    bottom: 100px;
    background:white;
        width: 420px;
          -webkit-box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
    box-shadow: 2px 9px 7px -8px rgba(0,0,0,0.56);
}
#botFrame{
border: none;
    width: 100%;
    height: calc(100vh - 120px);
    max-height: 600px;
  
    }