
    <div id="ifrmaeHolder">
        <iframe style="background:transparent" scrolling="yes" allow="geolocation; microphone; camera; midi; encrypted-media;" allowtransparency="true" frameborder="0" allowfullscreen="" id="botFrame" src="http://localhost:4200/login"></iframe>
    </div>
    <div id="botimgCircle" class="" style="display: block;">
        <img src="img/avtar.png" style="">
    </div>
